<html>
<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>Bloggly</title>
	<link rel="stylesheet" type="text/css" href="/normalize.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Arvo:700|Roboto:400,300,500,700|Kalam:400,300' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/style.min.css">

</head>
<body>
	<div class="login-page">
		<div class="container">
			<div class="header">
				<h1>Blog.ly</h1>
				<span class="sub">Think. Write. Share.</span>
			</div>
			<form class="login">
				<label for="user-name"><i class="fa fa-user" aria-hidden="true"></i>Username</label>
				<input id="user-name" type="text" value="m-amaya" />
				<label for="user-pass"><i class="fa fa-key" aria-hidden="true"></i>Password
					<a href="#"><i class="fa fa-question-circle" aria-hidden="true"></i>Forgot Password</a>
				</label>
				<input id="user-pass" type="password" value="password" />
				<div class="login-buttons">
					<button id="login-submit-btn" type="submit">Login</button>
					<button id="login-newuser-btn" type="submit">Create New Account</button>
					<a class="login-skip" href="#">
						Continue without logging in <i class="fa fa-angle-double-right" aria-hidden="true"></i>
					</a>
				</div>
			</form>
		</div>
	</div>

	<footer>
		<span class="demo-info">&copy; 2016 by <a href="https://github.com/m-amaya" target="_blank">m-amaya</a> under MIT license. For demonstration purposes only.</span>
		<span class="framework-info">
			<a href="http://adonisjs.com/" target="_blank"><i class="fa fa-share" aria-hidden="true"></i> Adonis v2.0.9</a>
		</span>
	</footer>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
	<script src="/js-cookie.js"></script>
	<script src="/bundle.min.js"></script>
</body>
</html>
