{% extends 'login' %}

{% block loginForm %}
<label for="user-name"><i class="fa fa-user" aria-hidden="true"></i>Username</label>
<input id="user-name" type="text" value="m-amaya" tabindex="1" />
<label for="user-pass"><i class="fa fa-key" aria-hidden="true"></i>Password
  <a href="/forgot_password" tabindex="3"><i class="fa fa-question-circle" aria-hidden="true"></i>Forgot Password</a>
</label>
<input id="user-pass" type="password" value="password" tabindex="2" />
<div class="login-buttons">
  <button id="login-submit-btn" type="submit">Login</button>
  <button id="newuser-submit-btn" type="submit">Create New Account</button>
  <a class="login-skip" href="/home">
    Continue without logging in <i class="fa fa-angle-double-right" aria-hidden="true"></i>
  </a>
</div>
{% endblock %}
